<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3" *ngIf="error">
        <div class="alert alert-danger">
            <p>{{error}}</p>
        </div>
    </div>

    <!--Display error alert popup instead of alert text.-->
    <!-- <div *ngIf="error">
        <app-alert [errorMessage] = "error"  (close)="closeAlert()"></app-alert>
    </div> -->

    <div class="col-xs-8 col-xs-offset-2" *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" 
                id="email" 
                class="form-control"
                name="email"
                ngModel
                email
                required>
                <label for="password">Password</label>
                <input type="password" 
                id="password" 
                class="form-control"
                name="password"
                ngModel
                minlength="8"
                required>
            </div>
            <div class="form-group">
                <button type="submit" 
                class="btn btn-primary"
                [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up' }}</button> |
                <button type="button" 
                class="btn btn-primary" 
                (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up' : 'Login' }}</button>
            </div>
        </form>
    </div>
</div>