<!-- Passing and using data with Event Binding -->
<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{ serverName }}</p> -->
<!-- Passing and using data with Event Binding -->

<!-- Two way data binding  -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<!-- Two way data binding  -->

<button class='btn btn-primary' [disabled]="serverName === ''" (click)="OnCreatingServer()">Add new server</button>

<!-- Output through String Interpolation  -->
<!-- <p>{{allowNewServer}}</p> -->

<!-- Output through Property binding  -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- Output through Event binding  -->
<p>{{ serverCreationStatus }}</p>

<!-- Output using ngIf directive -->
<!-- <p *ngIf='serverCreated'>Server is created with name {{ serverName }}</p> -->

<!-- Output using ngelse directive -->
<!-- <p *ngIf='serverCreated; else noServer'>Server is created with name {{ serverName }}</p>
<ng-template #noServer>
    <p>No server created!</p>
</ng-template> -->

<app-server *ngFor = 'let server of Servers'></app-server>